<div class="patient-info-show">
  <h1>Editando informacoes do(a) paciente <%= @patient.patient_first_name %></h1>

  <%= render partial: 'form', patient: @patient %>


  <div class="edit-return">
    <%= link_to 'Mostrar', @patient %> |
    <%= link_to 'Retornar', patients_path %>
  </div>
</div>
