<div class="patient-info-show">
  <h1>Registrando novo paciente...</h1>

  <%= render 'form', patient: @patient %>
    <div class="edit-return">
      <%= link_to 'Voltar', patients_path %>
    </div>
</div>
